$white: #ffffff;
$dark: #1E1E1E;
$light: #F4F5F5;
$blue: #007AFF;
$light-secondary: #696B6C;
$light-quaternary: #D1D6D8;
$indigo: #5856D6;
$red: #FF3B30;
$yellow: #FFCC00;
$green: #34C759;
$shadow: 0 5px 10px rgba(0, 0, 0, 0.16);