:root {
	/* Sizes */
	--large-title---regular: 26px;
	--large-title---bold: 26px;
	--title-1---regular: 22px;
	--title-1---bold: 22px;
	--title-2---regular: 17px;
	--title-2---bold: 17px;
	--title-3---regular: 15px;
	--title-3---bold: 15px;
	--headline---regular: 13px;
	--headline---bold: 13px;
	--subheadline---regular: 11px;
	--subheadline---bold: 11px;
	--body---regular: 13px;
	--body---bold: 13px;
	--callout---regular: 12px;
	--callout---bold: 12px;
	--footnote---regular: 10px;
	--footnote---bold: 10px;
	--caption-1---regular: 10px;
	--caption-1---bold: 10px;
	--caption-2---regular: 10px;
	--caption-2---bold: 10px;
	/* Effect styles */
	--shadows---extra-large: 0px 20px 25px rgba(0, 0, 0, 0.25);
	--shadows---large: 0px 15px 15px rgba(0, 0, 0, 0.15);
	--shadows---medium: 0px 10px 10px rgba(0, 0, 0, 0.15);
	--shadows---small: 0px 5px 10px rgba(0, 0, 0, 0.16);
	--shadows---extra-small: 0px 1px 1px rgba(0, 0, 0, 0.1);
	--shadows---inner: inset 0px 0px 5px rgba(0, 0, 0, 0.05);
}

:root.light {
	--find-highlighting: rgba(255, 255, 0, 1);
	--grid: rgba(230, 230, 230, 1);
	--header-text: rgba(0, 0, 0, 0.8500000238418579);
	--label: rgba(0, 0, 0, 0.8500000238418579);
	--link: rgba(0, 104, 218, 1);
	--placeholder-text: rgba(0, 0, 0, 0.25);
	--quaternary: rgba(0, 0, 0, 0.10000000149011612);
	--secondary: rgba(0, 0, 0, 0.5);
	--separator: rgba(0, 0, 0, 0.10000000149011612);
	--text: rgba(0, 0, 0, 1);
	--alternate---selected-control---text: rgba(255, 255, 255, 1);
	--alternate---content---background: rgba(244, 245, 245, 1);
	--widget-background: rgba(244, 245, 245, 0.3);
	--control---accent: rgba(0, 122, 255, 1);
	--control---background: rgba(255, 255, 255, 1);
	--control---regular: rgba(255, 255, 255, 1);
	--control---text---regular: rgba(0, 0, 0, 0.8500000238418579);
	--control---text---disabled: rgba(0, 0, 0, 0.25);
	--keyboard---focus-indicator: rgba(0, 103, 244, 0.25);
	--selected---control-text: rgba(0, 0, 0, 0.8500000238418579);
	--selected---text-background: rgba(179, 215, 255, 1);
	--selected---text: rgba(0, 0, 0, 1);
	--selected---content---background: rgba(0, 99, 225, 1);
	--selected---content---control: rgba(179, 215, 255, 1);
	--selected---menu-item---text: rgba(255, 255, 255, 1);
	--system---blue: rgba(0, 122, 255, 1);
	--system---brown: rgba(162, 132, 94, 1);
	--system---gray: rgba(142, 142, 147, 1);
	--system---green: rgba(52, 199, 89, 1);
	--system---indigo: rgba(88, 86, 214, 1);
	--system---orange: rgba(255, 149, 0, 1);
	--system---pink: rgba(255, 45, 85, 1);
	--system---purple: rgba(175, 82, 222, 1);
	--system---red: rgba(255, 59, 48, 1);
	--system---teal: rgba(85, 190, 240, 1);
	--system---yellow: rgba(255, 204, 0, 1);
	--tertiary---label: rgba(0, 0, 0, 0.25999999046325684);
	--tertiary---text-background: rgba(255, 255, 255, 1);
	--under-page---background: rgba(150, 150, 150, 0.8999999761581421);
	--unemphasized---selected---text: rgba(0, 0, 0, 1);
	--unemphasized---selected---content---background: rgba(220, 220, 220, 1);
	--unemphasized---selected---text---background: rgba(220, 220, 220, 1);
	--window---background: rgba(236, 236, 236, 1);
	--window---frame-text: rgba(0, 0, 0, 0.8500000238418579);
}

:root.dark {
	--find-highlighting: rgba(255, 255, 0, 1);
	--grid: rgba(26, 26, 26, 1);
	--header-text: rgba(255, 255, 255, 1);
	--label: rgba(255, 255, 255, 0.8500000238418579);
	--link: rgba(65, 156, 255, 1);
	--placeholder-text: rgba(255, 255, 255, 0.25);
	--quaternary: rgba(255, 255, 255, 0.10000000149011612);
	--secondary: rgba(255, 255, 255, 0.550000011920929);
	--separator: rgba(255, 255, 255, 0.10000000149011612);
	--text: rgba(255, 255, 255, 1);
	--alternate---selected-control---text: rgba(255, 255, 255, 1);
	--alternate---content---background: rgba(255, 255, 255, 0.05000000074505806);
	--widget-background: rgba(255, 255, 255, 0.05000000074505806);
	--control---accent: rgba(0, 122, 255, 1);
	--control---background: rgba(30, 30, 30, 1);
	--control---regular: rgba(255, 255, 255, 0.25);
	--control---text---regular: rgba(255, 255, 255, 0.8500000238418579);
	--control---text---disabled: rgba(255, 255, 255, 0.25);
	--keyboard---focus-indicator: rgba(26, 169, 255, 0.30000001192092896);
	--selected---control-text: rgba(255, 255, 255, 0.8500000238418579);
	--selected---text-background: rgba(63, 99, 139, 1);
	--selected---text: rgba(255, 255, 255, 1);
	--selected---content---background: rgba(0, 88, 208, 1);
	--selected---content---control: rgba(63, 99, 139, 1);
	--selected---menu-item---text: rgba(255, 255, 255, 1);
	--system---blue: rgba(10, 132, 255, 1);
	--system---brown: rgba(172, 142, 104, 1);
	--system---gray: rgba(152, 152, 157, 1);
	--system---green: rgba(48, 209, 88, 1);
	--system---indigo: rgba(94, 92, 230, 1);
	--system---orange: rgba(255, 159, 10, 1);
	--system---pink: rgba(255, 55, 95, 1);
	--system---purple: rgba(191, 90, 242, 1);
	--system---red: rgba(255, 69, 58, 1);
	--system---teal: rgba(90, 200, 245, 1);
	--system---yellow: rgba(255, 214, 10, 1);
	--tertiary---label: rgba(255, 255, 255, 0.25999999046325684);
	--tertiary---text-background: rgba(30, 30, 30, 1);
	--under-page---background: rgba(40, 40, 40, 1);
	--unemphasized---selected---text: rgba(255, 255, 255, 1);
	--unemphasized---selected---content---background: rgba(70, 70, 70, 1);
	--unemphasized---selected---text---background: rgba(70, 70, 70, 1);
	--window---background: rgba(50, 50, 50, 1);
	--window---frame-text: rgba(255, 255, 255, 0.8500000238418579);
}